body {

}

#banner {
width:100%;
}

.principal{
background: #05155c;
padding: 30px;
}

.titulo-principal {
padding-left: 40px;
}

.titulo-centralizado {
text-align: center
}

p {
text-align: center; 
}

#missao {
font-size: 45px
}

em strong {
color: #00ff22;
}

.itens {
font-style: italic
}

.beneficios {
background: #FFFFFF;
padding: 25px;
}

ul {
display: inline-block;
vertical-align: top;
width: 20%;
margin-right: 15%;
}

.imagembeneficios {
width: 65%;
}